{% from 'macros/icon.html' import icon %}
{% from 'macros/btn.html' import htmx_spinner_button %}

<form hx-post="/quiz/{{ quiz_id }}/{{ question.id }}/submit" hx-swap="outerHTML" hx-indicator="#spinner">
    <header class="flex flex-col gap-4 mb-8">
        <h4 class="text-xl">
            {{ prompt }}
        </h4>
        <span class="block">
            {% include 'partials/segmented-quiz-bar.html' %}
        </span>
    </header>
    <fieldset class="flex flex-col gap-4 mb-4">
        <legend class="text-slate-700 mb-4">{{ question.text }}</legend>
        {% for option in question.options %}
        {% set identifier = 'option' + loop.index|string %}
        <label for="{{ identifier }}" class="border-blue-600 bg-slate-200 hover:bg-slate-300 rounded-lg p-6 peer-checked:bg-slate-500">
            <input type="radio" name="option" value="{{ loop.index - 1 }}" id="{{ identifier }}" class="peer mr-6" />
            <span>{{ option }}</span>
        </label>
        {% endfor %}
    </fieldset>

    <div class="flex justify-end">
        {{
            htmx_spinner_button(
                'Submit Answer',
                type='submit',
                icon=icon('arrow-right', class='w-4 h-4')
            )
        }}
    </div>

</form>