{% from 'macros/icon.html' import icon %}

<!DOCTYPE html>,,
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}QuizAI{% endblock %}</title>
    <link href="{{ url_for('static', path='/css/app.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>
<body>
    <header class="flex justify-center p-4 border-b-2 border-slate-200">
        <a href="/" class="flex gap-2 items-center">
            {{ icon('academic-cap', class='w-12 h-12 text-blue-800') }}
            <h1 class="text-2xl text-blue-600">QuizAI</h1>
        </a>
    </header>

    {% block content %}
    {% endblock %}
    
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>