{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
    <section class="flex flex-col gap-4 w-full py-16 mx-auto bg-yellow-300">
        <form class="w-4/5 mx-auto" hx-post="/create" hx-target="#quiz" hx-indicator="#quiz-loading-indicator">
            <label for="q">What would you like to make a quiz about?</label>
            <div class="flex gap-4">
                <input type="text" id="q" name="q" class="w-full rounded" />
                <input type="number" id="qn" name="qn" value="10" class="w-16" />
                <button type="submit"
                        class="bg-slate-700 text-white px-6 py-3"
                        onclick="removeElement('find-quiz-form');">
                        Create
                </button>
            </div>
        </form>
    </section>

    <section id="quiz" class="p-8 mt-16">
        {% include 'partials/find-quiz.html' %}
        <span id="quiz-loading-indicator" class="htmx-indicator">
            {% include 'partials/loading-quiz.html' %}
        </span>
    </section>
</main>
{% endblock %}